# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Secrets / environment
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
StudyBee-code.zip
StudyBee-step*.zip

database_backup_*/
